<ul class="menu-list" aria-label="Homepage menu">
  <li><a class="active" href="/blog/">Start Reading</a></li>
  <li><a href="/projects/">View Projects</a></li>
  <li><a href="/notes/">Open Notes</a></li>
  <li><a href="/about/">About Wynn</a></li>
</ul>
